<div>
  <input type="text" class="form-control" #myInputText placeholder="Title..." [(ngModel)]="title" >
  <input type="text" class="form-control"  #myInputTitle  placeholder="Text..." [(ngModel)]="text">
 <button class="btn" (click)="addPost()">Add post!</button>
<button class="btn" (click)="onLoadDefault()">Default style</button>
<hr/>
  <h2>Search posts!</h2>
  <input type="text" (keyup)="onChangeSearch(titleSearching)"  class="form-control" placeholder="Search..." [(ngModel)]="titleSearching" >
  <button class="btn" (click)="onSearchByType(SearchType.BY_TITLE)">Search by title</button>
  <button class="btn" (click)="onSearchByType(SearchType.BY_CONTENT)">Search by content</button>
</div>