<div appIpz="red" appAlert={{post.title}}  [dStyle] = "{marginTop: '30px' }" class="card">
  <h2>{{post.title}}</h2>
  <p> #{{post.id}} - {{post.text}} </p>
  <button class="btn" (click)="removePost()">&#10006;</button>
  <ng-content></ng-content>
</div>